
#user{
	width: 100%;
	height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border: #c2c2c2 solid 0.1rem;
	border-radius: 0.5rem;
	margin-top: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#user-info{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#user-head{
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 1.6rem;
	box-shadow: #00000066 0 0.1rem 0.3rem;
}

#user-info-r{
	margin-left: 0.6rem;
	display: flex;
	flex-direction: column;
}

#user-name{
	font-weight: 600;
}

#user-welecome{
	color: #888;
	font-size: 0.9rem;
	font-weight: 300;
}

#user-info2{
	height: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

#user-last-login{
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	font-size: 0.8rem;
}

#counter-box{
	width: 100%;
	display: block;
	margin-top: 1rem;
}

.counter{
	width: max(10rem);
	height: 5rem;
	margin-right: 0.2rem;
	margin-bottom: 0.4rem;
	background-color: #fff;
	border: #c2c2c2 solid 0.1rem;
	border-radius: 0.5rem;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.counter>label{
	font-size: 0.8rem;
	font-weight: 400;
	color: #8f8f8f;
}

.counter>span{
	height: 1.3rem;
	line-height: 0.9rem;
	font-size: 0.9rem;
	font-weight: 900;
	color: #000;
}

#server-list{
	width: 100%;
	background-color: #fff;
	border: #c2c2c2 solid 0.1rem;
	border-radius: 0.5rem;
	padding: 1rem 1.3rem;
}

#server-list-header{
	width: 100%;
	height: 2.2rem;
	display: flex;
	flex-direction: row;
}

#server-list-header>h3{
	font-size: 1rem;
	font-weight: 900;
}

.server-list-item{
	width: 100%;
	height: 4rem;
	margin-top: 0.4rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.4rem -0.15rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 0.7rem;
}

.server-list-item-desc{
	width: min(20rem, 20%);
	height: 100%;
	margin-left: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.server-list-item-head{
	min-width: 3.2rem;
	width: 3.2rem;
	height: 3.2rem;
	margin-right: 0.7rem;
	border-radius: 1.6rem;
	box-shadow: #00000066 0 0.1rem 0.3rem;
}

.server-list-item-desc>div:last-child{
	height: 57%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.server-list-item-ip{
	color: #939393;
}

.server-list-item-i{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 0.7rem;
	color: #939393;
}

.server-list-item-more{
	margin-right: 0.7rem;
}
