
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	color: #0366d6;
	text-decoration: none;
}

body{
	font-family: "SourceHanSans", sans-serif;
}

.svg-icon{
	width: 1.3rem;
	height: 1.3rem;
	fill: currentColor;
}

.row-center{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.column-center{
	display: flex;
	flex-direction: column;
	align-items: center;
}

